$font-family: "RocknRoll One", sans-serif;
$background-color: #f5f5f5;
$max-height: 100vh;
$max-width: 60%;
$background-image: url(images/backgroundImage.jpg);
$background-repeat: no-repeat;
$background-size: cover;
$background-attachment: fixed;
$border-radius: 5px;
$scrollbar-width: 10px;
$scrollbar-track-color: #f1f1f1;
$scrollbar-thumb-color: #888;
$scrollbar-thumb-hover-color: #555;
